.titel {
    margin: 2em auto;
    width: fit-content;
    font-size: xx-large;
    font-weight: bolder;
}

.items {
    margin: auto;
    width: 400px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-bottom: 4em;
}

.item {
    display: flex;
    flex-direction: column;
    background-color: rgb(66, 66, 89);
    border-radius: 1em;
    border: 1px rgb(78, 103, 119) solid;
    box-shadow:
        black 0 0 2em -1em,
        rgb(236, 205, 152) 1em 1em;
    overflow: hidden;
    text-align: justify;
}

.itemtitel {
    margin: 0.75em auto;
    width: fit-content;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

.itemplaatje {
    max-height: 400px;
    object-fit: contain;
}

.beschrijving {
    margin: 1em;
}

.links {
    display: flex;
    flex-direction: column;
    margin: 1em 2em 2em 2em;
    box-shadow: 0 0 0 1em hsl(160, 100%, 75%, 10%);
    gap: 1em;
    background-color: hsl(160, 100%, 75%, 10%);
    border: solid aquamarine;
    border-radius: 0.1em;
    border-width: 0 0 0 3px;
}

.links a {
    color: aquamarine;
    margin-left: 1em;
}

.links a:hover {
    color: rgb(221, 255, 244);
}

hr {
    width: 100%;
    color: rgb(66, 66, 89);
    border: solid 0.5px;
}

#ganaar {
    position: fixed;
    top: 2em;
    right: 2em;
    padding: 1em;
    background-color: rgb(66, 66, 89);
    border-radius: 1em;
    border: 1px rgb(78, 103, 119) solid;
    box-shadow:
        black 0 0 2em -1em,
        rgb(236, 205, 152) 0.5em 0.5em;
    display: flex;
    gap: 1em;
    align-items: center;
}

#ganaar:hover {
    cursor: pointer;
}

#ganaar:hover a {
    background-color: hsla(160, 100%, 75%, 20%);
    border: solid hsla(160, 100%, 75%, 50%) 1px;
}

#ganaar a {
    background-color: hsla(160, 100%, 75%, 10%);
    border: solid hsla(160, 100%, 75%, 25%) 1px;
    border-radius: 0.2em;
    padding: 0.5em;
    color: aquamarine;
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    body {
        padding-top: 5em;
    }
}